// null css
@import "_reset";
// fonts
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #999;
    line-height: 1.6;
}
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 22;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }

    &__logo {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
    }
}

.nav {

    &__link {
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;

        transition: color .2s ease;

        margin-left: 55px;
        display: inline-block;
        position: relative;
        &:hover {
            color: #fce38a;
        }
        &:after {
            content: '';
            display: block;
            height: 3px;
            width: 0;
            background-color: #fce38a;
            position: absolute;
            top: 100%;
            left: 0;


            transition: width .3s ease;
        }
        &:hover:after {
            width: 100%
        }
    }
}

// intro block
.intro {
    display: flex;
    align-items: center;
    width: 100%;
    background: url("../img/first-bg.jpg") no-repeat center top / cover;
    position: relative;
    padding: 10% 0;
    &__inner {
        width: 100%;
        max-width: 880px;
        margin: 0 auto;
        text-align: center;
    }

    &__suptitle {
        color: #fff;
        font-size: 72px;
        font-family: 'Kaushan Script', cursive;
        margin-bottom: 20px;
    }

    &__title {
        color:#fff;
        font-size: 150px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        &:after {
            content: "";
            width: 60px;
            height: 3px;
            display: block;
            background-color: #fff;
            margin: 60px auto;

        }
    }
    .btn {
        display: inline-block;
        padding: 8px 15px;
        vertical-align: top;
        border: 3px solid #fff;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        transition: all .3s ease;
        &:hover {
            background-color: #fff;
            color: #333;
            border: 3px solid #333;
        }
    }
}
.slider {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    &__inner {
        display: flex;
        justify-content: space-between;
        color: #fff;
    }
    &__item {
        width: 23%;
        font-size: 18px;
        text-transform: uppercase;
        opacity: .7;
        padding: 20px 0;
        border-top: 3px solid #fff;
        &-active {
            opacity: 1;
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 25%;
                height: 3px;
                background-color: brown;
                position: absolute;
                top: -3px;
                left: 0;
                z-index: 1;
            }
        }
        span {
            font-size: 24px;
            font-weight: 700;
        }
    }
}

// section

.section {
    padding: 80px 0;
    &__header {
        width: 100%;
        max-width: 950px ;
        margin: 40px auto;
        text-align: center;
    }

    &__suptitle {
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
        color: #333;

    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        color: #333;
        text-transform: uppercase;
        &:after {
            content: '';
            display: block;
            height: 3px;
            width: 60px;
            background-color: #f38181;
            margin: 30px auto;
        }
    }

    &__text {
        font-size: 15px;
        line-height: 24px;
        color: #999;
    }
}


// card

.card {
    display: flex;
    justify-content: space-between;
    &__wrapper {
        width: 30%;
    }
    &__item {
        background-color: #95e1d3;
        
        &:hover .card__img>img {
            opacity: .3;
            transition: all .5s ease;
        }
        
    }

    &__img {
        background: linear-gradient( to bottom, #fce38a, #f38181);
        position: relative;
        & img {
            max-width: 100%
        }
        &:hover {
            transform: translate3d(-10px, -10px, 0);
            transition: all .5s ease;
            .users {
                opacity: 1;
                transition: all .5s ease;
            }
        }
    }
    &__position {
        text-align: center;
        margin-top: 30px;
    }
    &__name {
        color: #333;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: 15px;
        text-transform: capitalize;
        line-height: 24px;
    }
}

.users {
    position: absolute;
    z-index: 555;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    text-align: center;
    width: 100%;
    opacity: 0;
    color: #fff;
    &__text {
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
    }
}

//  statistics

.statistics {
    background-color: #95e1d3;
    margin-top: 30px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        color: #fff;
        border-right: 1px solid #b5eae0;
        text-align: center;
        flex: 1 1 0;
        padding: 90px 0;
        &:first-child {
            border-left: 1px solid #b5eae0;
        }
    }

    &__count {
        font-size: 72px;
        font-weight: 700;
    }

    &__text {
        font-size: 14px;
        text-transform: uppercase;
    }
}

// services

.services {
    &__row {
        display: flex;
        &:first-child {
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid #e5e5e5;
        }
    }
    &__item {
        display: flex;
        flex: 1 1 0;
        justify-content: space-between;
        padding: 0 28px;
    }

    &__icon {
    }

    &__content {
        padding-left: 28px;
    }

    &__title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 24px;

    }
}
.section-bg {
    padding-bottom: 0;
    margin-bottom: 40px;
    background: url("../img/services/bg.jpg") no-repeat center top / cover;
}
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    & img {
        display: block;
    }
    &__ipad {
    }

    &__phone {
        position: absolute;
        right: 0;
        top: 200px;
        transition: transform .3s ease;
        &:hover {
            transform: rotate(5deg);
        }
    }
}

// sevice

.service {
    display: flex;  
    &__item {
        flex: 1 1 0;
    }
    &__item {
        flex: 1 1 0;
    }
}

// accordion

.accordion {
    &__item {
        margin-bottom: 10px;
        border: 1px solid #e5e5e5;
        &.accordion__item-active
        .accordion__content {
            display: block;
        }
        &.accordion__item-active
        .accordion__header:after {
            transform: translateY(-50%) rotate(-45deg);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__header {
        padding: 20px 15px 20px 65px;
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        cursor: pointer;
        &:after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-top: 3px solid #ccc;
            border-right: 3px solid #ccc;

            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%) rotate(135deg);
        }
    }

    &__img {
        position: absolute;
        left: 20px;
        top: 50%;

        transform: translateY(-50%);
    }

    &__title {
        font-size: 14px;
        color: #333;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__content {
        padding: 15px 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #999;
        line-height: 24px;

        display: none;
    }
}


// reviews


.section-gray {
    background-color: #f8f8f8;
    padding: 0;
}
.reviews {
    position: relative;
    padding: 70px 40px;
    // padding: 0 40px;
    &__container {
        width: 100%;
        max-width: 1040px;
        margin: 0 auto;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    &__btn {
        font-size: 0;
        color: transparent;
        position: absolute;
        transform: rotate(45deg);
        top: 50%;
        margin-top: -11px;
        &:after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
        }
        &-prev {
            left:20px;
            border-bottom: 3px solid #ccc;
            border-left: 3px solid #ccc;
        }
        &-next {
            right: 20px;
            border-top: 3px solid #ccc;
            border-right: 3px solid #ccc;
        }
    }

    &__content {
        padding-left: 60px;
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        font-weight: 30;
        font-style: italic;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 15px;
    }

    &__name {
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
        color: #333;
        &:before {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: #f38181;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

// socials

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 56px;
        min-width: 56px;
        color: #f38181;
        background-color: #fce38a;
        border-right: 1px solid #f38181;
        font-size: 20px;
        &:last-child {
            border-right: 0;
        }
        &:hover {
            background-color: #f38181;
            color: #fff;
            transform: translateY(-5px);
            transition: all .5s ease;
        }
    }
}

// logos
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    &__item {
    }
}

//  works


.works {
    display: flex;
    &__col {
        flex: 1 1 0;
    }

    &__item {
        background: linear-gradient(to bottom, #fce38a, #f38181);
        position: relative;
        &:hover .works__img {
            opacity: .1;
        }
        &:hover .works__content {
            opacity: 1;
        }
    }
    &__img {
        max-width: 100%;
        transition: opacity .2s ease;
    }
    &__content {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-align: center;
        opacity: 0;
        transition: opacity .2s ease;
    }

    &__logo {
    }

    &__title {
        font-size: 14px;
        color:#fff;
        font-weight: 400;
        text-transform: uppercase;
        margin: 10px 0;
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: 15px;
        line-height: 24px;
        color: #fff;
    }
}

// clients
.section-clients {
    position: relative;
    background: url("../img/clients/clients-bg.jpg") no-repeat center top / cover;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;

        position: absolute;
        top: 0;
        left: 0;
        opacity: .85;
        z-index: 1;
    }
    .section__header {
        position: relative;
        z-index: 2;
    }
}
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    position: relative;
    z-index: 2;
    &__item {
        flex: 1 1 50%;
        position: relative;
        padding: 0 40px 0 180px;
        margin-bottom: 60px;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 40px;
        border-radius: 50%;
    }
    &__content {
    }

    &__name {
        color: #333;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__prof {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: 15px;
        text-transform: capitalize;
        line-height: 24px;
        &:after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: #f38181;
            margin: 15px 0;
        }
    }

    &__text {
        font-size: 15px;
        line-height: 24px;
        color: #999;
    }
}

// blog 

.blog {
    display: flex;
    justify-content: space-between;
    &__item {
        width: 32%;
        
    }

    &__header {
        position: relative;
    }

    &__img {
        max-width: 100%;
        display: block;
        height: auto;
    }

    &__date {
        position: absolute;
        left: -10px;
        bottom: 10px;
        background-color: #95e1d3;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        padding: 15px;
        span {
            display: block;
            font-size: 15px;
            font-weight: 400;
        }
    }

    &__content {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        color: #333;
        margin: 20px 0;
        text-transform: uppercase;
        a {
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__text {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        line-height: 24px;
    }

    &__footer {

    }
    .blog-stat {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: italic;
        color: #999;

        margin-top: 20px;
        &__icon {
            color: #95e1d3;
            font-size: 15px;
        }
        span:first-child {
            margin-right: 20px;
        }
    }
}

// map 
.section-map {
    background: url("../img/map/map-bg.jpg") no-repeat center top / cover;
    padding: 60px 0;
}
.map {
    width: 100%;
    font-size: 24px;
    color: #f38181;
    text-align: center;
    &__link {
        color: inherit;
        &:hover {
            color: rgb(29, 42, 78)
        }
    }

    &__title {
        font-weight: 700; 
        text-transform: uppercase;
        &:after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: #f38181;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}









